//Cores

$primary-color: #5468E7;
$second-color: #C897E4;
$dark-color: #232340;
$secod-shade-1: #606060;
$secod-shade-2: #ADADAD;
$secod-shade-3: #8B8B8B;
//font size

$display-1: 110px;
$display-2 : 84px;
$heading-1: 76px;
$heading-2: 64px;
$heading-3: 48px;

