@import '../abstract/Variaveis';

@media screen and (max-width: 480px) {
    
    .container-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 128px;
        padding: 0px 32px;

    }

    .container-nav-ativo{
        width: 100vw;
        height: 100vh;
        background-color: $dark-color ;
        background-image: url(../imgs/Path2.svg);
        background-repeat: no-repeat;   
        background-position-x: 82px;
        background-position-y: -20px;
        position: absolute;
        right: 0;
        top: 0;
        transition: .5s right;

        .container-nav2{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 56px 32px;

        }

        .service-list{
            display: flex;
            flex-direction: column;
            margin-top: 131px;
            margin-left: 32px;
            font-size: 32px;
            font-weight: bold;

            a{
                text-decoration: none;
                
            } 

            .work{
                color: white;
            }
            
            .about{
                color: white;
            }

            li{
                margin-bottom: 40px;
                color: #595976;

            }

        }

        .container-logo{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 106px;
            width: 60vw;
            margin-left: 28px;

            .container-logo-img{
                width: 40px;
                height: 40px;
                border: 1px solid white;
                border-radius: 50% ;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 12px;

                }

            }

        }

    }

        .container-nav-ativo-click{
            right: -100vw;
            transition: 0.5s right;

        }



}